body {
    max-width: 1600;
    margin: 0 auto
}
img {
    max-width: 1600;
    margin: 0 auto
    
}
nav {
    text-align: center;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #606E8Cfb; 
    color: darkblue;
}
header {
    background-color:#354D73;
    color: white;
}
nav {
    color: white;
}
nav a:hover {
    background-color: lightskyblue;
    color: white;
}
.book { 
    color: darkblue;
    text-decoration: none;
}
.join {
    background-color: #354D73;
    color: darkblue;
    text-decoration: none;
}
.book:hover {
    background-color: darkblue;
    color: lightblue;
}
.join:hover {
    background-color: #3066BE; 
    color: darkblue;
}
#backround {
    background-color:rgb(20, 75, 142);
    color: steelblue;
}
.msg {
    background-color: #354D73;
    color: black;
}
footer {
    background-color: #354D73;
    color: black;
}
footer a:hover {
    background-color: #3066BE; 
    color: darkblue;
    text-decoration: none;
}
footer h3 a:hover {
    text-decoration: underline;
}
.icon {
    width: 80px;
    background-color: black;
    color: black;
}
