body {
    max-width: 1600;
    margin: 0 auto
}
img {
    max-width: 1600;
    margin: 0 auto
    
}
nav {
    text-align: center;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #fcfbfb; 
    color: steelblue;
}
header {
    background-color:#3066BE;
    color: steelblue;
}
nav a:hover {
    background-color: lightskyblue;
    color: rgb(59, 35, 135);
}
.book {
    background-color: #fcfbfb; 
    color: steelblue;
    text-decoration: none;
}
.join {
    background-color:#878472;
    color: darkblue;
    text-decoration: none;
}
.book:hover {
    background-color: b#3066BE;
    color: steelblue;
}
.join:hover {
    background-color: #3066BE; 
    color: darkblue;
}
#backround {
    background-color:white;
    color: steelblue;
}
.msg {
    background-color: #878472;
    color: darkblue;
}
footer {
    background-color: #878472;
    color: darkblue;
}
footer a:hover {
    background-color: #3066BE; 
    color: darkblue;
    text-decoration: none;
}
footer h3 a:hover {
    text-decoration: underline;
}
.icon {
    width: 80px;
}