@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Open+Sans:wght@300&display=swap');

body {
    max-width: 1600px;
    margin: 0px auto
    
}
.home {
    display: grid;
    grid-template-columns: 50px 675px 675px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 100px;
    margin-right: -100px;
    
}
.bigbox {
    grid-column: 2/3;
    grid-row: 1/4;
    color: white;
    fill: red;
    
}
.box {
    grid-column: 2;
    grid-row: 5;
    color: white;
    margin-top: -150px;
    margin-right: 10px;
}
.box2 {
    grid-column: 2;
    grid-row: 6;
    color: white;
    fill: red;
    margin-top: -150px;
    margin-right: 10px;
}
.box3 {
    grid-column: 2;
    grid-row: 7;
    color: white;
    margin-top: -150px;
    margin-right: 10px;
}
.box4 {
    grid-column: 2;
    grid-row: 8;
    color: white;
    margin-top: -150px;
    margin-right: 10px;
}
.second {
    grid-column: 3;
    grid-row: 4/8;
    margin-top: -100px;
    margin-right: 10px;
    width: 130%;
    height: 130%;
}
.footer {
    margin-top: -150px;
}


.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
}
.card-img, .mountains {
    width: 100%;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
    width: 100%;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
    width: 100%;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
    width: 100%;
}
#backround {
    grid-column: 1/11;
    grid-row: 4/9;
    width: 100%;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}


header {
    display: grid;
    grid-template-columns: 150px auto;
    height: 200px;
}
body {
    font-family: 'Open Sans', sans-serif, 'Ariel';
    margin: 0;
    padding: 0;
}
nav {
    text-align: center;
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: white;
    height: 100px;
}
nav a {
    padding: 35px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
    width: 100%;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
h1 {
    margin: 0;
    font-family: 'Bitter';
    font-size: 2em;
}
h2 {
    margin: 0;
    font-family: 'Bitter';
    font-size: 2em;
}
.home-title {
    font-size: 2em;
    margin-top: 10px;
    font-family: 'Bitter';
}
img {
    max-width: 1600px;
    margin: 10px auto
    
}
#hero-msg h1 {
    text-align: center;
    color:white;
}
#hero-msg h4 {
    text-align: center;
    color:white;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #606E8Cfb; 
    color: darkblue;
}
header {
    background-color:#354D73;
    color: white;
}
nav a:hover {
    background-color: lightskyblue;
    color: white;
}
.book { 
    color:white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join {
    background-color: #354D73;
    color: darkblue;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover {
    background-color: darkblue;
    color: lightblue;
}
.join:hover {
    background-color: #3066BE; 
    color: darkblue;
}
#backround {
    background-color:rgb(20, 75, 142);
    color: steelblue;
}
.msg {
    background-color: #354D73;
    color: black;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg p {
    padding-bottom: 35px;
}
footer {
    background-color: #354D73;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a:hover {
    background-color: #3066BE; 
    color: darkblue;
    text-decoration: none;
}
footer h3 a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
.icon {
    width: 80px;
    background-color: black;
    color: black;
    padding-top: 10px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    margin-left: -200px;
    height: 50px;
    width: 50px;
    z-index: 4;
    margin-top: -200px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px;
}
.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
main section img {
    box-sizing: border-box;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
