@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Open+Sans:wght@300&display=swap');

body {
    max-width: 0;
    margin: 0 auto
    
}
body {
    font-family: 'Open Sans', sans-serif, 'Ariel';
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
    font-family: 'Bitter';
    font-size: 2em;
}
h2 {
    margin: 0;
    font-family: 'Bitter';
    font-size: 2em;
}
.home-title {
    font-size: 2em;
    margin-top: 10px;
    font-family: 'Bitter';
}
img {
    max-width: 0;
    margin: 0 auto
    
}
nav {
    text-align: center;
}
nav a {
    padding: 35px;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #606E8Cfb; 
    color: darkblue;
}
header {
    background-color:#354D73;
    color: white;
}
nav {
    color: white;
    background-color: white;
}
nav a:hover {
    background-color: lightskyblue;
    color: white;
}
.book { 
    color: darkblue;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join {
    background-color: #354D73;
    color: darkblue;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover {
    background-color: darkblue;
    color: lightblue;
}
.join:hover {
    background-color: #3066BE; 
    color: darkblue;
}
#backround {
    background-color:rgb(20, 75, 142);
    color: steelblue;
}
.msg {
    background-color: #354D73;
    color: black;
    line-height: 1.5em;
    padding: 35px;
}
.msg p {
    padding-bottom: 35px;
}
footer {
    background-color: #354D73;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a:hover {
    background-color: #3066BE; 
    color: darkblue;
    text-decoration: none;
}
footer h3 a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
.icon {
    width: 80px;
    background-color: black;
    color: black;
    padding-top: 10px;
}
#logo_link {
    padding-top: 5px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}
