@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Open+Sans:wght@300&display=swap');
body {
    display: grid;
    grid-template-columns: 50px 675px 675px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    font-family: 'Open Sans', sans-serif, 'Ariel';
    width: 1500px;
    height: 900px;

}
header {
    grid-column: 0/3;
    grid-row: 0/1;
    display: grid;
    grid-template-columns: 150px auto;
    height: 200px;
    font-family:  'Bitter' , 'Open Sans', 'Ariel';
}
.page2{
    grid-column: 0/3;
    grid-row: 0/1;
    display: grid;
    grid-template-columns: 150px auto;
    height: 200px;
    font-family:  'Bitter' , 'Open Sans', 'Ariel';
    margin-bottom: -50px;
}
footer {
    grid-column: 0/3;
    grid-row: 5/6;
    background-color: #2C5545;
    color: #ADD8E6;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1500px;
    height: 100px;
}
footer a:hover {
    background-color: #D0D0D0; 
    color: #ADD8E6;
    text-decoration: none;
}
footer h3 a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
section {
    grid-column: 0/3;
    grid-row: 2;
    margin-bottom: 200px;
    margin-top: 100px;
    padding: 50px;
}
.second {
    grid-column: 0/2;
    grid-row: 3/5;
    margin-bottom: 200px;
}
.section3 {
    grid-column: 0/2;
    grid-row: 1/3;
    width: 700px;
    height: 500px;
    margin-top: 350px;
}
.section4 {
    grid-column: 0/3;
    grid-row: 3/5;
    margin-left: 800px;
    width: 700px;
    height: 500px;
    margin-top: -450px;
    margin-bottom: 300px;

}
.section5 {
    margin-left: 700px;
    width: 700px;
    height: 500px;
    grid-column: 2/3;
    grid-row: 1/3;
    margin-top: -50px;
}
.section27 {
    margin-top: -50px;
}
.body2 {
    display: grid;
    grid-template-columns: 50px 675px 675px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
}
.A {
    grid-column: 1/2;
    grid-row: 3;
    margin-bottom: 100px;
    margin-top: -100px;
    padding: 30px;
}
.B {
    grid-column: 1/2;
    grid-row: 4;
    margin-bottom: 100px;
    margin-top: -100px;
    padding: 30px;
}
.C {
    grid-column: 1/2;
    grid-row: 5;
    margin-bottom: 100px;
    margin-top: -100px;
    padding: 30px;
}
.D {
    grid-column: 1/2;
    grid-row: 6;
    margin-bottom: 100px;
    margin-top: -100px;
    padding: 30px;
}
nav {
    text-align: right;
    display: flex;
    justify-content: space-around;
    color: #ADD8E6;
    font-size: x-large;
    background-color: #2C5545;
    height: 80px;
    width: 1500px;
    margin-bottom: 20px;
    padding: 20px;
}
.Navb {
    text-align: right;
    font-size: x-large;
    display: flex;
    justify-content: space-around;
    color: #ADD8E6;
    background-color: #2C5545;
    height: 80px;
    width: 1500px;
    margin-bottom: 50px;

}
 nav a:visited, nav a:link {
    color: white;
}
nav a:hover {
    background-color: orange;
}
.logo {
    margin-top: -50px;
    margin-left: -50px;
    width: 200px;
    height: 200px;
    background-color: #4C2F27;
}
.ccc {
    grid-column: 2/3;
    grid-row: 3;
    width: 750px;
    height: 500px;
    margin-left: 750px;
    margin-top: -500px;
    float: 10;
}
.c4 {
    width: 750px;
    height: 400px;
    margin-bottom: -500px;
    margin-top: -800px;
    margin-right: 400px;
}
.c45 {
    width: 750px;
    height: 400px;
    margin-bottom: -400px;
    margin-top: -950px;
    margin-right: 400px;
}
.c5 {
    width: 800px;
    height: 600px;
    margin-left: 700px;
    margin-top: -950px;
}
.c6 {
    grid-column: 2/3;
    grid-row: 3;
    width: 650px;
    height: 400px;
    margin-left: 750px;
    margin-top: 130px;
}
.c7 {
    width: 650px;
    height: 500px;
    margin-top: -1500px;
    margin-bottom: 1200px;
    margin-left: 1000px;
}